{% extends 'layout.html' %}  
{% load static %}
{% block conteudo %} 
   
<body>
    
    <!-- Carrossel de Imagens -->

    {% if msg %}
        <div class="alert {{class}}">
            {{msg}}
        </div>
    {% endif %}

    <main>
        <div class="container-fluid1">
            <div id="Slider" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#Slider" data-slide-to="0" class="active"></li>
                    <li data-target="#Slider" data-slide-to="1"></li>
                    <li data-target="#Slider" data-slide-to="2"></li>
                </ol>
                
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{% static 'img/imagem1.jpg' %}" class="d-blok w-100" alt="Feira de Empreendimentos">
                        <div class="carousel-caption d-none d-md-block">
                            <p>Incubadora Tecnológica para o Fortalecimento dos Empreendimentos Econômicos Solidários de IFRN</p>
                        </div>
                    </div>
                     <div class="carousel-item">
                        <img src="{% static 'img/imagem2.jpg' %}" class="d-blok w-100" alt="Feira de Empreendimentos">
                        <div class="carousel-caption d-none d-md-block">
                            <p>Incubadora Tecnológica para o Fortalecimento dos Empreendimentos Econômicos Solidários de IFRN</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'img/imagem3.jpg' %}" class="d-blok w-100" alt="Feira de Empreendimentos">
                        <div class="carousel-caption d-none d-md-block">
                            <p>Incubadora Tecnológica para o Fortalecimento dos Empreendimentos Econômicos Solidários de IFRN</p>
                        </div>
                    </div>
                </div>
                <a href="#Slider" class="carousel-control-prev" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Proximo</span>
                </a>
                <a href="#Slider" class="carousel-control-next" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Anterior</span>
                </a>
            </div>
        </div>
    </main>


   
    <!-- Card de Informações -->
    <section class="page1-section" id="parceiros">
    <div class="container">
        <div class="row mt-5 mb-5">  
            <div class="col-lg-4">
                <div class="card-b-0"  style="width: 100%;">
                    <div class="card-img-top">
                        <img src="{% static 'img/rvrural.jpg' %}" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                      <h5 class="card-title titulocard">AGRICULTURA FAMILIAR É IMPORTANTE</h5>
                      <p class="card-text inforcard">Surgem como alternativas ao desemprego e geração de renda, em especial às populações mais empobrecidas. Atuam diretamente na promoção...</p>
                      <a href="https://www.revistarural.com.br/2020/09/09/agricultura-familiar-e-importante-mas-nao-produz-70-dos-alimentos-do-pais/" class="btn btn1-warning">Ver mais</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card-b-0"  style="width: 100%;">
                    <div class="card-img-top">
                        <img src="{% static 'img/cardifsol.jpg' %}" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">IFSOL</h5>
                      <p class="card-text inforcard">Projeto de extensão busca fortalecer empreendimentos econômicos solidários. Uma das principais ações desse projeto será a retomada da Feirinha Agroecológica no Campus Canguaretama, com frequência semanal e aberta ao público.</p>
                      <a href="https://portal.ifrn.edu.br/campus/canguaretama/noticias/ifsol-projeto-de-extensao-busca-fortalecer-empreendimentos-economicos-solidarios" class="btn btn1-warning">Ver mais</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card-b-0"  style="width: 100%;">
                    <div class="card-img-top">
                        <img src="{% static 'img/gov.jpg' %}" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">AGRICULTURA FAMILIAR</h5>
                      <p class="card-text inforcard">Afinal, o que é agricultura familiar? Acesse para conhecer essa atividade, responsável por boa parte dos alimentos que chegam à mesa dos brasileiros.</p>
                      <a href="https://www.gov.br/agricultura/pt-br/assuntos/agricultura-familiar/agricultura-familiar-1" class="btn btn1-warning">Ver mais</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



    <!-- Parceiros -->


    <section class="page1-section" id="parceiros">
        <div class="container">
               <div class="text-center mb-5">
                   <h2 class="section-heading ">Parcerias</h2>
               </div>
               <div class="row align-items-center text-center">
                   <div class="col-md-4 col-sm-6 my-3 text-center">
                        <a href="#!">
                            <img class="img-fluid img-brand d-block mx-auto" src="{% static 'img/ifrn_spp.png' %}" alt="...">
                        </a>
                   </div>
                   <div class="col-md-4 col-sm-6 my-3 text-center">
                        <a href="#!">
                            <img class="img-fluid img-brand d-block mx-auto" src="{% static 'img/logo_ifsol.png' %}" alt="..." width="150">
                        </a>
                   </div> 
                   <div class="col-md-4 col-sm-6 my-3 text-center">
                    <a href="#!">
                        <img class="img-fluid img-brand d-block mx-auto" src="{% static 'img/cooppotengi.png' %}" alt="...">
                    </a>
               </div> 
               </div>
           </div>
   </section>




   <!-- Rodapé -->


   <footer>
        <div id="contato">
            <div class="container">
                <div class="row">
                    <div class="text-center col-md-12">
                        <h3 class="main-title">Entre em Contato</h3>
                    </div>
                    <div class="col-md-4 contact-box">
                        <i class="fas fa-phone"></i>
                        <p><span class="contact-tit">Ligue para: </span>(84) 98107-1326</p>
                    </div>
                    <div class="col-md-4 contact-box">
                        <i class="fas fa-envelope"></i>
                        <p><span class="contact-tit">Envie um e-mail: </span>cooppotengi.rn@gmail.com</p>
                    </div>
                    <div class="col-md-4 contact-box">
                        <i class="fa-brands fa-instagram"></i>
                        <p><span class="contact-tit">Nos acompanhe: </span>@cooppotengi.rn</p>
                    </div> 
                </div>
            </div>
        </div>
   </footer>


</body>


{% endblock conteudo %} 

