{% extends 'layoutadmin.html' %}
{% load static %}
{% block conteudo %}

<body>
    <div class="container mt-5 mb-4 d-flex justify-content-center">
        <div class="row">
            <!-- Formulário para cadastrar um novo produto -->
            <div class="col-md-12">
                <section id="produto-form" class="bg-light p-4 border rounded-3 shadow-sm">
                    <h2 class="text-center mb-4">Cadastrar Produto</h2>
                    <form action="{% url 'cadastrarprodutos' %}" enctype="multipart/form-data" method="post">
                        {% csrf_token %}

                        <div class="mb-3">
                            <label for="nomeproduto" class="form-label">Nome</label>
                            <input type="text" class="form-control" name="nomeproduto" id="nomeproduto" required>
                        </div>
                        <div class="mb-3">
                            <label for="precoproduto" class="form-label">Preço</label>
                            <input type="number" class="form-control" name="precoproduto" id="precoproduto" step="0.01" required>
                        </div>
                        <div class="mb-3">
                            <label for="unidadeproduto" class="form-label">Unidade de Medida</label>
                            <input type="text" class="form-control" name="unidadeproduto" id="unidadeproduto" required>
                        </div>
                        <div class="mb-3">
                            <label for="imagemproduto" class="form-label">Imagem do Produto</label>
                            <input type="file" class="form-control" name="imagemproduto" id="imagemproduto">
                        </div>
                        <div class="d-flex justify-content-center mt-3">
                            <input type="submit" class="btn btn-success px-5 py-2" value="Cadastrar Produto">
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</body>

{% endblock conteudo %}
