{% extends 'layoutadmin.html' %}
{% load static %}
{% block conteudo %}

<div class="container mt-4">
    <div class="bg-light p-4 rounded">
        <h4 class="my-4 text-center">Detalhes do Pedido</h4>
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>Produto</th>
                        <th>Valor</th>
                        <th>Quantidade</th>
                        <th>Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in carrinho.itens.all %}
                    <tr>
                        <td>{{ item.produto.nome }}</td>
                        <td>R$ {{ item.produto.preco }}</td>
                        <td>{{ item.quantidade }}</td>
                        <td>R$ {{ item.subtotal }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock conteudo %}
