{% extends 'layout.html' %}
{% load static %}
{% block conteudo %}

<body>
<main>
    <div class="container">
        <!-- Navegação por Abas -->
        <ul class="nav nav-tabs mt-4" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-toggle="tab" data-target="#carrinho"
                        type="button" role="tab" aria-controls="home" aria-selected="true">Carrinho</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-toggle="tab" data-target="#historico" type="button"
                        role="tab" aria-controls="profile" aria-selected="false">Histórico</button>
            </li>
        </ul>

        <!-- Conteúdo das Abas -->
        <div class="tab-content mt-3">
            <!-- Aba Carrinho -->
            <div class="tab-pane fade show active bg-light p-3" id="carrinho" role="tabpanel">
                <h3 class="text-center mb-4">Carrinho de Compras</h3>
                <hr>

                <ul class="list-group mb-3">
                    {% for i in itens %}
                        <li class="item-carrinho list-group-item py-3">
                            <div class="row g-3 align-items-center">
                                <div class="col-4 col-md-3 col-lg-2">
                                    {% if i.produto.imagem == '' %}
                                        <img src="{% static 'img/sem_foto.jpg' %}" class="img-fluid rounded">
                                    {% else %}
                                        <img src="{{ i.produto.imagem.url }}" class="img-fluid rounded" alt="img-thumbnail">
                                    {% endif %}
                                </div>
                                <div class="col-8 col-md-9 col-lg-7 col-xl-8 text-left">
                                    <h4><a href="#" class="text-decoration-none text-success">{{i.produto.nome}}</a></h4>
                                    <small>{{ i.produto.descricao }}</small> <!-- Se houver descrição do produto -->
                                </div>
                                <div class="col-6 offset-6 col-sm-6 offset-sm-6 col-md-4 offset-md-4 offset-md-8 col-lg-3 offset-lg-0 col-xl-2">
                                    <div class="input-group">
                                        <input type="number" class="form-control text-center border-warning"
                                               id="quantidade-{{i.id}}" value="{{i.quantidade}}">
                                        <a class="btn-apagar btn btn-outline-warning btn-sm ms-2" data-item-id="{{i.id}}" href="#">
                                        <i class="fa-solid fa-cart-shopping"></i> 
                                        </a>
                                    </div>
                                </div>
                                <div class="col-12 text-end">
                                    <small class="text-secondary">Valor {{i.produto.unidade_de_medida}}: R$ {{i.produto.preco}}</small>
                                    <br>
                                    <span class="text-dark">Subtotal do Item: R$ <span class="subtotal"
                                                                                  id="{{i.id}}">{{i.subtotal}}</span></span>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                    {% if total > 0 %}
                        <li class="list-group-item text-end py-3">
                            <h4 class="text-dark mb-3">Valor Total: R$ <span class="total_carrinho" id="total_carrinho">{{total}}</span></h4>
                            <a class="btn btn-success btn-lg" href="{% url 'finalizar_carrinho' carrinho.pk %}">Solicitar</a>
                        </li>
                    {% else %}
                        <div class="alert alert-warning" role="alert">
                            Seu carrinho está vazio.
                        </div>
                    {% endif %}
                </ul>
            </div>

            <!-- Aba Histórico -->
            <div class="tab-pane fade bg-light p-3" id="historico" role="tabpanel" aria-labelledby="profile-tab">
                <h3 class="text-center mb-4">Histórico de Pedidos</h3>
                <table class="table table-light table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID do Pedido</th>
                            <th>Total</th>
                            <th>Confirmado</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in hist %}
                            <tr>
                                <td>{{i.id}}</td>
                                <td>R$ {{i.get_total}}</td>
                                <td>{{i.confirmado}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const botoesApagar = document.querySelectorAll('.btn-apagar');

        botoesApagar.forEach(function (botao) {
            botao.addEventListener('click', function (event) {
                event.preventDefault(); // Evita o comportamento padrão do link
                const itemId = this.getAttribute('data-item-id');
                const itemParaRemover = this.closest('.item-carrinho');

                fetch('/apagar_item_carrinho/' + itemId + '/', {
                    method: 'DELETE', // Método para exclusão
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': getCookie('csrftoken') // Adicione o token CSRF se necessário
                    }
                })
                .then(response => response.json())
                .then(data => {
                    console.log(data.message);
                    if (itemParaRemover) {
                        itemParaRemover.remove();
                        atualizar_total();
                    }
                })
                .catch(error => {
                    console.error('Erro ao apagar o item:', error);
                });
            });
        });

        const inputsQuantidade = document.querySelectorAll('.form-control');

        inputsQuantidade.forEach(function (input) {
            input.addEventListener('change', function (event) {
                const itemId = this.id.split('-')[1];
                const novaQuantidade = this.value;

                fetch('/atualizar_quantidade/' + itemId + '/?nova_quantidade=' + novaQuantidade, {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': getCookie('csrftoken')
                    }
                })
                .then(response => response.json())
                .then(data => {
                    console.log(data.message);
                    document.getElementById(itemId).innerHTML = data.subtotal;
                    atualizar_total();
                })
                .catch(error => {
                    console.error('Erro ao atualizar a quantidade:', error);
                });
            });
        });

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.startsWith(name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        function atualizar_total() {
            let total = 0;
            $(".subtotal").each(function () {
                total += parseFloat($(this).text().replace('R$', '').trim());
            });
            $('.total_carrinho').text(total.toFixed(2));
        }
    });
</script>

{% endblock conteudo %}
